PUBLIC_NEXT_IMAGE_BASE_URL = /
NEXT_ELASTIC_NODE_URL=http://localhost:19200

# Elasticsearch & Kibana Credentials
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=MyStrongElasticPassword123!

KIBANA_USERNAME=kibana_system_user
KIBANA_PASSWORD=MyStrongKibanaPassword123!

# MinIO Credentials
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=MyStrongMinioPassword123!
